@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");


@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
} 

/* Colors */
@theme {
  --color-light-bg: #F9FAFB;
  --color-light-text: #111827;
  --color-light-text-secondary: #4B5563;


  --color-dark-bg: #0D1117;
  --color-dark-text: #F9FAFB;
  --color-dark-text-secondary: #9CA3AF;

  --color-blue-accent: #3B82F6;
}
/* Fonts */
@theme {
  --font-display: "Cal Sans", sans-serif; 
  --font-blog: "Fredoka", sans-serif;
  --font-project: "Quicksand", sans-serif;
}


/* Animations */
@theme {

  --animate-fade-in: fade-in 3s ease-in-out forwards;

  @keyframes fade-in {
    0% { opacity: 0; }
    75% { opacity: 0; }
    100% { opacity: 1; }
  }

  --animate-fade-left: fade-left 3s ease-in-out forwards;

  @keyframes fade-left {
    0% { transform: translateX(100%); opacity: 0; }
    30% { transform: translateX(0); opacity: 1; }
    100% { opacity: 0; }
  }

  --animate-appear-left: appear-left 2s ease-in-out forwards;

  @keyframes appear-left {
    0% { transform: translateX(100%); opacity: 0; }
    30% { transform: translateX(0); opacity: 1; }
    100% { opacity: 1; }
  }

  --animate-fade-right: fade-right 3s ease-in-out forwards;

  @keyframes fade-right {
    0% { transform: translateX(-100%); opacity: 0; }
    30% { transform: translateX(0); opacity: 1; }
    100% { opacity: 0; }
  }

  --animate-title: title 3s ease-out forwards;

  @keyframes title {
    0% { line-height: 0; letter-spacing: 0.25em; opacity: 0; }
    50% { line-height: 0; opacity: 0; }
    80% { opacity: 1; }
    100% { line-height: 1; opacity: 1; }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
} 

body {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
